.introduction{
  background-color: #f2f4c0;
  margin: 10px;
}

body{
  background-color: #e4e978;
}

section{
  background-color: #f2f4c0;
  margin: 10px;
  font-style: italic;
  color: #5c6e91
}
