/* TODO: style the html */

body{
  font-family: helvetica, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: white;
}

article{
  margin: 54px;
  padding: 36px;
  border-top-left-radius: 15px;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
  color: white;
  text-indent: 40px;
  background-color: rgb(51, 102, 153);
}

h1{
  font-family: georgia, serif;
}
